<!DOCTYPE html>
<html lang="fr">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <style>
        body {
            font-family: Arial, sans-serif;
            margin: 0;
            padding: 0;
            box-sizing: border-box;
            font-size: 10px;
            color: #343232;
        }

        @page {
            size: A4 portrait;
            margin: 10mm;
        }

        .invoice-table {
            width: 210mm;
            margin: 0 auto;
            border-collapse: collapse;
            box-sizing: border-box;
            table-layout: fixed;
        }

        .subtable-table {
            margin: 0 auto;
            border-collapse: collapse;
            box-sizing: border-box;
            table-layout: fixed;
        }

        .invoice-table td, .subtable-table td {
            padding: 5px;
            border: 1px solid #343232;
            vertical-align: top;
            word-wrap: normal;
        }

        .listTable td {
            padding: 7px;
        }

        .head-table td {
            padding: 2px;
        }

        /* 24 colonnes */
        .col-1 {
            width: 4.16%;
        }

        .col-2 {
            width: 8.33%;
        }

        .col-3 {
            width: 12.5%;
        }

        .col-4 {
            width: 16.66%;
        }

        .col-5 {
            width: 20.83%;
        }

        .col-6 {
            width: 25%;
        }

        .col-7 {
            width: 29.16%;
        }

        .col-8 {
            width: 33.33%;
        }

        .col-9 {
            width: 37.5%;
        }

        .col-10 {
            width: 41.66%;
        }

        .col-11 {
            width: 45.83%;
        }

        .col-12 {
            width: 50%;
        }

        .col-13 {
            width: 54.16%;
        }

        .col-14 {
            width: 58.33%;
        }

        .col-15 {
            width: 62.5%;
        }

        .col-16 {
            width: 66.66%;
        }

        .col-17 {
            width: 70.83%;
        }

        .col-18 {
            width: 75%;
        }

        .col-19 {
            width: 79.16%;
        }

        .col-20 {
            width: 83.33%;
        }

        .col-21 {
            width: 87.5%;
        }

        .col-22 {
            width: 91.66%;
        }

        .col-23 {
            width: 95.83%;
        }

        .col-24 {
            width: 100%;
        }

        .header,
        .footer,
        .invoice-details,
        .totals,
        .signature {
            padding: 0;
        }

        .header h1 {
            margin: 0;
            font-size: 24px;
            text-align: center;
        }

        .header p,
        .footer p {
            margin: 0;
            text-align: center;
            font-size: 12px;
        }

        .invoice-details table {
            width: 100%;
            border-collapse: collapse;
        }

        .invoice-details th,
        .invoice-details td {
            padding: 10px;
            border: 1px solid #000;
            text-align: left;
        }

        .invoice-details th {
            background-color: #f2f2f2;
        }

        .totals {
            text-align: right;
        }

        .totals table {
            width: 100%;
            border-collapse: collapse;
        }

        .totals th,
        .totals td {
            padding: 10px;
            border: 1px solid #000;
        }

        .totals th {
            background-color: #f2f2f2;
        }

        .signature {
            text-align: right;
            font-size: 14px;
        }

        .objectRaw p {
            margin-top: 0px;
            margin-bottom: auto;
        }

        .pv-header td {
            border: none;
            text-align: right;
            line-height: 1px;
            padding: 8px;
        }
    </style>
</head>


<body>
    <table class="invoice-table">
        <tr>
            <td colspan="24" class="col-24" style="border: 0px; text-align: center;">
                EN TETE
            </td>
        </tr>
        <tr>
            <td colspan="24" class="col-24" style="border: 0px; text-align: center;">
                BULLETIN DE NOTES
            </td>
        </tr>
        <tr>
            <td colspan="6" class="col-6" style="border: 0px;">
                Nom: <strong>{{model.headInfos.name}}</strong> <br> <br>
                Né(e) Le: <strong>{{model.headInfos.birth | date('d-m-Y')}}</strong> <br> <br>
                Nom du tuteux: <strong>{{model.headInfos.tutor}}</strong> <br> <br>
            </td>
            <td colspan="6" class="col-6" style="border: 0px;">
                Classe: <strong>{{model.headInfos.schoolClassPeriod}}</strong> <br> <br>
                Redoublant: <strong>{{model.headInfos.repeated}}</strong> <br> <br>
                Téléphone du tuteur: <strong>{{model.headInfos.tutorPhone}}</strong> <br> <br>
            </td>
            <td colspan="6" class="col-6" style="border: 0px;">
                Sexe: <strong>{{model.headInfos.gender}}</strong> <br> <br>
                Matricule: <strong>{{model.headInfos.name}}</strong> <br> <br>
                Enseignant principal:
            </td>
            <td colspan="6" class="col-6" style="border: 0px;">
                <img src="{{asset("img/default_student.png")}}" height="65px" alt="image">
            </td>
        </tr>
        {% for item in model.cardItems.items %}
        <tr>
            <td colspan="6" class="col-6" style="text-align: center; vertical-align: middle;">
                <table class="subtable-table" style="border: none; padding: 0; margin: 0;">
                    <tr style="border: none;">
                        <td style="border: none;">{{item.group}}</td>
                    </tr>
                </table>
            </td>
            <td colspan="18" class="col-18" style="padding: 0;">
                {% for line in item.subjects %}
                <table class="subtable-table" style="border: none; padding: 0; margin: 0; width: 100%;">
                    
                    {% if loop.first %}
                    <tr style="border: none;">
                        <td colspan="6" class="col-6" style="background-color: #d3d3d3; text-align: center;">
                            Compétences Ciblées
                        </td>
                        <td colspan="6" class="col-6" style="background-color: #d3d3d3; text-align: center;">
                            Unité D'apprentissage
                        </td>
                        <td colspan="12" class="col-12" style="background-color: #d3d3d3; text-align: center;">
                            UA
                        </td>
                    </tr>
                    {% endif %}
                    <tr>
                        <td rowspan="{{line.rows}}" class="col-6"  colspan="6" style="vertical-align: middle; text-align: center;">
                            {{line.name}}
                        </td>
                        <td colspan="6" class="col-6">Évaluation</td>
                        <td colspan="6" class="col-6">Notes</td>
                        <td colspan="6" class="col-6">Cote</td>
                    </tr>

                    {% if line.oral is defined %}
                    <tr>
                        <td colspan="6" class="col-6">Oral - {{line.oral}}pts</td>
                        <td colspan="6" class="col-6"> {{ line.oral_grade }} </td>
                        <td rowspan="{{line.rows - 1}}" colspan="6" class="col-6"></td>
                    </tr>
                    {% endif %}
                    {% if line.written is defined %}
                    <tr>
                        <td colspan="6" class="col-6">Écrit - {{line.written}}pts</td>
                        <td colspan="6" class="col-6">{{ line.written_grade }}</td>
                    </tr>
                    {% endif %}
                    {% if line.practical is defined %}
                    <tr>
                        <td colspan="6" class="col-6">Pratique - {{line.practical}}pts</td>
                        <td colspan="6" class="col-6">{{ line.practical_grade }}</td>
                    </tr>
                    {% endif %}
                    {% if line.know_how is defined %}
                    <tr>
                        <td colspan="6" class="col-6">Savoir-être - {{line.know_how}}pts</td>
                        <td colspan="6" class="col-6">{{ line.know_how_grade }}</td>
                    </tr>
                    {% endif %}
                    <tr style="text-align: center;">
                        <td colspan="12" class="col-12">Total {{line.totalPoint}}pts</td>
                        <td colspan="6" class="col-6">{{line.note}}</td>
                        <td colspan="6" class="col-6">{{line.appreciation}}</td>
                    </tr>
                
                    <tr>
                        <td colspan="18" class="col-18" style="text-align: center;"><strong>Cote</strong></td>
                        <td colspan="6" class="col-6" style="text-align: center;"><strong>{{line.appreciation}}</strong></td>
                    </tr>
                    {% if loop.last %}
                    <tr >
                        <td colspan="6" class="col-6" style="background-color: #d3d3d3; text-align: center;">
                            Code
                        </td>
                        <td colspan="6" class="col-6" style="background-color: #d3d3d3; text-align: center;">
                            {{item.totalPoints}}pts
                        </td>
                        <td colspan="6" class="col-6" style="background-color: #d3d3d3; text-align: center;">
                            {{item.totalNotes}}
                        </td>
                        <td colspan="6" class="col-6" style="background-color: #d3d3d3; text-align: center;">
                            {{item.appreciation}}
                        </td>
                       
                    </tr>
                    {% endif %}
                </table>
                {% endfor %}
            </td>
        </tr>
        <tr>
            <td colspan="24" style="border: none;"></td>
        </tr>
        {% endfor %}

        <tr >
            <td colspan="24" class="col-24" style="border: 0px; text-align: center;">
                
            </td>
        </tr>
        <tr>
            <td colspan="8" class="col-8" style="border: 0px; text-align: center;">
                Appreciation <br> <br>
                <table class="subtable-table" style="border: none; padding: 0; margin: 0; width: 100%;">
                    <tr>
                        <td colspan="6" class="col-6">NA</td>
                        <td colspan="12" class="col-12">Non acquis</td>
                        <td colspan="6" class="col-6">0-10</td>
                    </tr>
                    <tr>
                        <td colspan="6" class="col-6">ECA</td>
                        <td colspan="12" class="col-12">En cours d'acquisition</td>
                        <td colspan="6" class="col-6">11-14</td>
                    </tr>
                    <tr>
                        <td colspan="6" class="col-6">A</td>
                        <td colspan="12" class="col-12">Acquis</td>
                        <td colspan="6" class="col-6">15-17</td>
                    </tr>
                    <tr>
                        <td colspan="6" class="col-6">A+</td>
                        <td colspan="12" class="col-12">Expert</td>
                        <td colspan="6" class="col-6">18-20</td>
                    </tr>
                </table>
            </td>
            <td colspan="8" class="col-8" style="border: 0px; text-align: center;">
                Recapitulatif Séquentiel <br> <br>
                <table class="subtable-table" style="border: none; padding: 0; margin: 0; width: 100%;">
                    <tr>
                        <td colspan="12" class="col-12">Éléments</td>
                        <td colspan="12" class="col-12">UA</td>
                    </tr>
                    <tr>
                        <td colspan="12" class="col-12">Total</td>
                        <td colspan="12" class="col-12">{{model.cardItems.totalNotes}} / {{model.cardItems.totalPoints}}</td>
                    </tr>
                    <tr>
                        <td colspan="12" class="col-12">Moyenne</td>
                        <td colspan="12" class="col-12">{{model.cardItems.middle | number_format(2)}}</td>
                    </tr>
                    <tr>
                        <td colspan="12" class="col-12">Rang</td>
                        <td colspan="12" class="col-12"></td>
                    </tr>
                </table>
            </td>
            <td colspan="8" class="col-8" style="border: 0px; text-align: center;">
                Légende <br> <br>
                UA = Unité d'apprentissage
            </td>
        </tr>
        <tr style="height: 40px;">
            <td colspan="24" class="col-24" style="border: 0px; text-align: center;">                
            </td>
        </tr>
        <tr>
            <td colspan="8" class="col-8" style="border: 0px; text-align: center;">
                SIGNATURE <br> <br>
                Parent
               
            </td>
            <td colspan="8" class="col-8" style="border: 0px; text-align: center;">
                OBSERVATION ET SIGNATURE <br> <br>
                Enseignant(e)s
            </td>
            <td colspan="8" class="col-8" style="border: 0px; text-align: center;">
                Légende <br> <br>
                UA = Unité d'apprentissage
            </td>
        </tr>
        <tr style="height: 100px;">
            <td colspan="8" class="col-8" style="border: 0px; border-right: 2px solid black;">
             
               
            </td>
            <td colspan="8" class="col-8" style="border: 0px; border-right: 2px solid black;">
               
            </td>
            <td colspan="8" class="col-8" style="border: 0px; border-right: 2px solid black;">
              
            </td>
        </tr>
        <tr style="height: 100px;">
            <td colspan="24" class="col-24" style="border: 0px; text-align: center;">
                
            </td>
        </tr>
    </table>
    <!-- <table class="invoice-table">
        
            <tr>
                <th>Compétences Ciblées</th>
                <th>Unité D'apprentissage</th>
                <th>Evaluation</th>
                <th>Notes</th>
                <th>UA</th>
                <th>Cote</th>
            </tr>
        
        
            <tr>
                <td rowspan="3">COMMUNIQUER EN FRANCAIS C1A</td>
                <td>Oral-12pts</td>
                <td>Oral</td>
                <td>12</td>
                <td>12</td>
                <td rowspan="3">A+</td>
            </tr>
            <tr>
                <td>Ecrit-15pts</td>
                <td>Ecrit</td>
                <td>12.33333333333</td>
                <td>12.33333333333</td>
            </tr>
            <tr>
                <td>Savoir-etre-3pts</td>
                <td>Savoir-être</td>
                <td>2.83333333333</td>
                <td>2.83333333333</td>
            </tr>
            <tr>
                <td>Total 30pts</td>
                <td colspan="2"></td>
                <td>27.16666666667</td>
                <td></td>
                <td></td>
            </tr>
            <tr>
                <td>Cote</td>
                <td colspan="5">A+</td>
            </tr>
        
    </table> -->
</body>

</html>